<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eRegistrar Student Registration - Edit</title>
    <style>
        a.std-lnk-btn {
            text-decoration:none;color: #000000;border: 1px solid #000000;padding: 0.20em;background-color: #efefef;
        }
        input.std-btn {
            color: #000000;border: 1px solid #000000;padding: 0.35em;background-color: #efefef;
        }
    </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>Update Student Form</h1>
    <div style="border: 1px solid;padding: 1em;">
        <div>
            Fields marked with asterisk (*) are required.
        </div>
        <form method="post" action="/eregistrar/students/update" th:object="${student}">
            <fieldset>
                <input name="studentId" type="hidden" th:value="${student.studentId}"/>
                <div>
                    <label>First Name*</label>
                </div>
                <div>
                    <div><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{student.firstName}" style="color:red;"></span></div>
                    <input name="firstName" type="text" th:value="${student.firstName}" autofocus>
                </div>
                <div>
                    <label>Middle Naame</label>
                </div>
                <div>
                    <input name="middleName" type="text" th:field="${student.middleName}">
                </div>
                <div>
                    <label>Last Name*</label>
                </div>
                <div>
                    <div><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red;"></span></div>
                    <input name="lastName" type="text" th:value="${student.lastName}" autofocus>
                </div>
                <div>
                    <label>Student Number</label>
                </div>
                <div>
                    <input name="city" type="text" th:field="${student.studentNumber}">
                </div>
                <div>
                    <label>Enrollment Date</label>
                </div>
                <div>
                    <input name="state" type="date" th:field="${student.enrollmentDate}">
                </div>
                <div>
                    <label>CGPA</label>
                </div>
                <div>
                    <input name="zipCode" type="text" th:field="${student.cgpa}">
                </div>
                <div>
                    <label>Is International?</label>
                </div>
                <select th:field="${student.isInternational}">
                    <option th:value="'Yes'" th:text="Yes"></option>
                    <option th:value="'No'" th:text="No"></option>
                </select>
            </fieldset>
            <div style="margin-top: 1em;">
                <a class="std-lnk-btn" href="/eregistrar/students/list">Cancel</a>
                <input class="std-btn" type="reset" value="Reset">
                <input class="std-btn" type="submit" value="Edit Student">
            </div>
        </form>
    </div>
</main>
</body>
</html>